main{
    margin: auto;
    padding: 0;
    max-width: 1000px;
}
body{
    background-color: beige;
}
ul li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    
}
ul li a{
    text-decoration: none;
    padding: 10px;
    font-size: large;
    color: black;
}
section{
    margin: auto;
    padding: 10px;
    border: 1px black;

}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-right:  1px solid black;
    border-left:  1px solid black;;
  }
  